<div class="footer">
  <div class="footer-list">
    <div class="footer-address">
      <p><span>Email: </span>info@healthybasket.ca</p>
      <p><span>Number: </span>437-766-1000</p>
      <p>
        <span>Address:</span> 8 Melanie Dr <br />
        Brampton, ON L6T 4K8
      </p>
    </div>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2884.1045945159667!2d-79.68533592471226!3d43.70837537109948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3db06399aba7%3A0x5601bf613319fd98!2sHealthy%20Basket!5e0!3m2!1sen!2sca!4v1689911792261!5m2!1sen!2sca"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <div class="copyright">
    <p>Copyright © 2023 By Healthy Basket. All Rights Reserved.</p>
    <p>
      Created with <i class="fa-solid fa-heart" style="color: #cd241a"></i> By
      Aman
    </p>
  </div>
</div>
