<app-navbar></app-navbar>
<div class="banner">
  <h1>Healthy Basket</h1>
</div>

<div class="products">
  <h1>Our Products</h1>
  <div class="products-list">
    <div class="product-item">
      <img src="../../assets/images/SansGrain Sticker.jpg" />
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Read More <i class="fa-brands fa-readme fa-fade"></i>
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Gluten Free Super Multi Grain Flour
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h4>Ingredients:</h4>
        <p>
          Organic Quinoa Flour, Brown Rice Flour, Chickpea Flour, Millet Flour,
          Tapioca Flour, Potato Starch, Xanthan Gum
        </p>
        <h4>Description:</h4>
        <p>
          Our Gluten Free flour blend is a great alternative to all other gluten
          containing flours.
        </p>
        <p>
          When it comes to quality, we serve the best flour with the best
          ingredients. When you make Roti or Chapati with this flour you will
          smell the freshness &amp; great taste of roti.
        </p>
        <p>
          This blend is easy to knead and roti will be easy to roll without
          breaking.
        </p>
        <ul>
          <li>Gluten Free</li>
          <li>Source of protein</li>
          <li>Good source of Iron and dietary fiber</li>
          <li>Easy to knead and roll</li>
          <li>Easy to digest</li>
          <li>Packed in a Gluten-Free facility</li>
        </ul>
        <h4>Storage Suggestion:</h4>
        <p>
          The product should be stored in a dry, cool area for longer shelf
          life.
        </p>

        <p>
          Made in Facility that also processes wheat and soy. Separate machines
          are used for gluten free blending and strict cleaning procedures are
          taken after each batch.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
